policy_module(ocide, 1.100.1)

########################################
#
# Declarations
#

type ocide_t;
type ocide_exec_t;
init_daemon_domain(ocide_t, ocide_exec_t)

permissive ocide_t;

type ocide_initrc_exec_t;
init_script_file(ocide_initrc_exec_t)

type ocide_conf_t;
files_type(ocide_conf_t)

type ocide_var_lib_t;
files_type(ocide_var_lib_t)

type ocide_var_run_t;
files_type(ocide_var_run_t)

type ocide_port_t;
corenet_port(ocide_port_t)

########################################
#
# ocide local policy
#
allow ocide_t self:process { fork };

allow ocide_t self:fifo_file rw_fifo_file_perms;
allow ocide_t self:unix_stream_socket create_stream_socket_perms;

manage_dirs_pattern(ocide_t, ocide_conf_t, ocide_conf_t)
manage_files_pattern(ocide_t, ocide_conf_t, ocide_conf_t)

manage_dirs_pattern(ocide_t, ocide_var_lib_t, ocide_var_lib_t)
manage_files_pattern(ocide_t, ocide_var_lib_t, ocide_var_lib_t)
files_var_lib_filetrans(ocide_t, ocide_var_lib_t, { dir file })

manage_dirs_pattern(ocide_t, ocide_var_run_t, ocide_var_run_t)
manage_files_pattern(ocide_t, ocide_var_run_t, ocide_var_run_t)

sysnet_dns_name_resolve(ocide_t)
corenet_all_recvfrom_unlabeled(ocide_t)

allow ocide_t self:tcp_socket create_stream_socket_perms;
corenet_tcp_sendrecv_generic_if(ocide_t)
corenet_tcp_sendrecv_generic_node(ocide_t)
corenet_tcp_sendrecv_all_ports(ocide_t)
corenet_tcp_bind_generic_node(ocide_t)

gen_require(`
    type ocide_port_t;
')
allow ocide_t ocide_port_t:tcp_socket name_bind;

gen_require(`
    type ocide_port_t;
')
allow ocide_t ocide_port_t:tcp_socket name_connect;

domain_use_interactive_fds(ocide_t)

files_read_etc_files(ocide_t)

miscfiles_read_localization(ocide_t)

sysnet_dns_name_resolve(ocide_t)

allow ocide_t ocide_exec_t:file execute_no_trans;
allow ocide_t self:process setsched;
corecmd_exec_ls(ocide_t)
corenet_tcp_connect_http_port(ocide_t)
dev_read_urand(ocide_t)
fs_getattr_xattr_fs(ocide_t)
kernel_read_system_state(ocide_t)
