
## <summary>policy for ocide</summary>


########################################
## <summary>
##	Transition to ocide.
## </summary>
## <param name="domain">
## <summary>
##	Domain allowed to transition.
## </summary>
## </param>
#
interface(`ocide_domtrans',`
	gen_require(`
		type ocide_t, ocide_exec_t;
	')

	corecmd_search_bin($1)
	domtrans_pattern($1, ocide_exec_t, ocide_t)
')


########################################
## <summary>
##	Execute ocide server in the ocide domain.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ocide_initrc_domtrans',`
	gen_require(`
		type ocide_initrc_exec_t;
	')

	init_labeled_script_domtrans($1, ocide_initrc_exec_t)
')


########################################
## <summary>
##	Search ocide lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ocide_search_lib',`
	gen_require(`
		type ocide_var_lib_t;
	')

	allow $1 ocide_var_lib_t:dir search_dir_perms;
	files_search_var_lib($1)
')

########################################
## <summary>
##	Read ocide lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ocide_read_lib_files',`
	gen_require(`
		type ocide_var_lib_t;
	')

	files_search_var_lib($1)
	read_files_pattern($1, ocide_var_lib_t, ocide_var_lib_t)
')

########################################
## <summary>
##	Manage ocide lib files.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ocide_manage_lib_files',`
	gen_require(`
		type ocide_var_lib_t;
	')

	files_search_var_lib($1)
	manage_files_pattern($1, ocide_var_lib_t, ocide_var_lib_t)
')

########################################
## <summary>
##	Manage ocide lib directories.
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
#
interface(`ocide_manage_lib_dirs',`
	gen_require(`
		type ocide_var_lib_t;
	')

	files_search_var_lib($1)
	manage_dirs_pattern($1, ocide_var_lib_t, ocide_var_lib_t)
')


########################################
## <summary>
##	All of the rules required to administrate
##	a ocide environment
## </summary>
## <param name="domain">
##	<summary>
##	Domain allowed access.
##	</summary>
## </param>
## <param name="role">
##	<summary>
##	Role allowed access.
##	</summary>
## </param>
## <rolecap/>
#
interface(`ocide_admin',`
	gen_require(`
		type ocide_t;
		type ocide_initrc_exec_t;
		type ocide_var_lib_t;
	')

	allow $1 ocide_t:process { ptrace signal_perms };
	ps_process_pattern($1, ocide_t)

	ocide_initrc_domtrans($1)
	domain_system_change_exemption($1)
	role_transition $2 ocide_initrc_exec_t system_r;
	allow $2 system_r;

	files_search_var_lib($1)
	admin_pattern($1, ocide_var_lib_t)

')

